<!--/.row-->
<!-- START carousel-->

<div class="outer-div">
  <div class="bg-prop bg-prop-along" style="background-image:url(asset_files/images/login-register.jpg);">
    <div class="container" style="position: absolute;top: 60%;padding-left: 20%;">
      <img class="media-object thumb-sm img-circle img-prop" src="asset_files/images/users/5.jpg"
        alt="">
      <div class="rating-div display-inline-block">
        <h4 class="text-danger m-0 font-size-25 color-white"><strong>{{scleanerData.first_name}} {{scleanerData.last_name}}</strong></h4>
        <div class="text-muted p-t-10">
          <ng-rate-it ng-model="static_rating" read-only="true" class="display-inline-block"></ng-rate-it><span style="font-size: 18px;color: white;font-weight: 900"> 5 <small>(827 reviews)</small></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row m-t-20">
    <div class="col-md-3 col-md-offset-1 col-xs-12">
      <small>VI ENDS WITH PAPER INVOICE FOM MONDAY, 08 August 2016. 
Do you still want a paper invoice, the </code></small><br><br>
      <ul class="feeds">
        <li ng-if="scleanerData.contact_no">
          <div><i class="fa fa-phone color-grey" aria-hidden="true"></i></div>{{scleanerData.contact_no}}</li>
        <li ng-if="scleanerData.email">
          <div><i class="fa fa-envelope color-grey" aria-hidden="true"></i></div>{{scleanerData.email}}</li>
        <li ng-if="scleanerData.address">
          <div><i class="fa fa-globe color-grey" aria-hidden="true"></i></div>{{scleanerData.address}}</li>
      </ul>
    </div>
    <div class="col-md-8 col-xs-12">
      <div class="white-box">
        <h4 class="page-title color-blue p-l-10">RECENT EVALUATIONS (827)
        </h4>
        <ul class="search-listing">
          <div>
            <li class="p-b-30">
              <h3 class="p-l-10">
                <a href="">Astonishing</a>
              </h3>
              <p class="p-l-10 p-t-10">
                <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</span>
              </p>
              <p class="p-l-10"><span><ng-rate-it ng-model="readonly" read-only="true"></ng-rate-it></span>
              </p>
              <div class="pull-right">
                <span>usman, yesterday</span> </div>
            </li>
            <li class="p-b-30">
              <h3 class="p-l-10">
                <a href="">Astonishing</a>
              </h3>
              <p class="p-l-10 p-t-10">
                <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</span>
              </p>
              <p class="p-l-10"><span><ng-rate-it ng-model="readonly" read-only="true"></ng-rate-it></span>
              </p>
              <div class="pull-right">
                <span>usman, yesterday</span> </div>
            </li>
            <li class="p-b-30">
              <h3 class="p-l-10">
                <a href="">Astonishing</a>
              </h3>
              <p class="p-l-10 p-t-10">
                <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</span>
              </p>
              <p class="p-l-10"><span><ng-rate-it ng-model="readonly" read-only="true"></ng-rate-it></span>
              </p>
              <div class="pull-right">
                <span>usman, yesterday</span> </div>
            </li>
            <li class="p-b-30">
              <h3 class="p-l-10">
                <a href="">Astonishing</a>
              </h3>
              <p class="p-l-10 p-t-10">
                <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</span>
              </p>
              <p class="p-l-10"><span><ng-rate-it ng-model="readonly" read-only="true"></ng-rate-it></span>
              </p>
              <div class="pull-right">
                <span>usman, yesterday</span> </div>
            </li>
            <li class="p-b-30">
              <h3 class="p-l-10">
                <a href="">Astonishing</a>
              </h3>
              <p class="p-l-10 p-t-10">
                <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</span>
              </p>
              <p class="p-l-10"><span><ng-rate-it ng-model="readonly" read-only="true"></ng-rate-it></span>
              </p>
              <div class="pull-right">
                <span>usman, yesterday</span> </div>
            </li>
        </ul>
        </div>

        <!--<div class="white-box">
          <h4 class="page-title color-blue p-l-10">RECENT EVALUATIONS (827)
            <div class="row p-t-10">
              <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="background-f2">
                  <div class="background-e6">
                    <h3 class="box-title text-center"><i class="fa fa-circle" aria-hidden="true"></i> Selskapsform</h3>
                  </div>
                  <h3 class="box-title text-center font-40">AS</h3>
                  <h6 class="text-center lower-box">Aksjeselskap</h6>

                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="background-f2">
                  <div class="background-e6">
                    <h3 class="box-title text-center"><i class="fa fa-circle" aria-hidden="true"></i> Registrert</h3>
                  </div>
                  <h3 class="box-title text-center font-40">2012</h3>
                  <h6 class="text-center lower-box">i enhetsregistret</h6>

                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="background-f2">
                  <div class="background-e6">
                    <h3 class="box-title text-center"><i class="fa fa-circle" aria-hidden="true"></i> Omsetning</h3>
                  </div>
                  <h3 class="box-title text-center font-40">9.5</h3>
                  <h6 class="text-center lower-box">Millioner kroner</h6>

                </div>
              </div>
            </div>
        </div>-->
        <div class="white-box">
          <div id="markermap" class="gmaps" style="position: relative; overflow: hidden;">
            <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
              <div class="gm-style" style="position: absolute; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; z-index: 0;">
                <div style="position: absolute; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; z-index: 0; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;">
                  <div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
                      <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                        <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                          <div style="width: 256px; height: 256px; position: absolute; left: 704px; top: -112px;"></div>
                          <div style="width: 256px; height: 256px; position: absolute; left: 448px; top: -112px;"></div>
                          <div style="width: 256px; height: 256px; position: absolute; left: 448px; top: 144px;"></div>
                          <div style="width: 256px; height: 256px; position: absolute; left: 704px; top: 144px;"></div>
                          <div style="width: 256px; height: 256px; position: absolute; left: 192px; top: -112px;"></div>
                          <div style="width: 256px; height: 256px; position: absolute; left: 192px; top: 144px;"></div>
                          <div style="width: 256px; height: 256px; position: absolute; left: 960px; top: -112px;"></div>
                          <div style="width: 256px; height: 256px; position: absolute; left: 960px; top: 144px;"></div>
                          <div style="width: 256px; height: 256px; position: absolute; left: -64px; top: 144px;"></div>
                          <div style="width: 256px; height: 256px; position: absolute; left: -64px; top: -112px;"></div>
                          <div style="width: 256px; height: 256px; position: absolute; left: 1216px; top: -112px;"></div>
                          <div style="width: 256px; height: 256px; position: absolute; left: 1216px; top: 144px;"></div>
                        </div>
                      </div>
                    </div>
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
                      <div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
                        <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 704px; top: -112px;"></div>
                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 448px; top: -112px;"></div>
                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 448px; top: 144px;">
                            <canvas draggable="false" height="256" width="256" style="user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas>
                          </div>
                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 704px; top: 144px;"></div>
                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 192px; top: -112px;"></div>
                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 192px; top: 144px;"></div>
                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 960px; top: -112px;"></div>
                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 960px; top: 144px;"></div>
                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -64px; top: 144px;"></div>
                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -64px; top: -112px;"></div>
                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 1216px; top: -112px;"></div>
                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 1216px; top: 144px;"></div>
                        </div>
                      </div>
                    </div>
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                      <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                        <div style="position: absolute; left: 704px; top: 144px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i9282!3i13085!4i256!2m3!1e0!2sm!3i378064488!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=27663"
                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                        <div
                          style="position: absolute; left: 960px; top: -112px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i9283!3i13084!4i256!2m3!1e0!2sm!3i378061440!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=97267"
                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                      <div
                        style="position: absolute; left: 704px; top: -112px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i9282!3i13084!4i256!2m3!1e0!2sm!3i378064488!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=122713"
                          draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                    <div
                      style="position: absolute; left: 960px; top: 144px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i9283!3i13085!4i256!2m3!1e0!2sm!3i378061440!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=2217"
                        draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                  <div
                    style="position: absolute; left: 192px; top: 144px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i9280!3i13085!4i256!2m3!1e0!2sm!3i378064488!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=107105"
                      draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                <div
                  style="position: absolute; left: -64px; top: -112px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i9279!3i13084!4i256!2m3!1e0!2sm!3i378064488!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=103213"
                    draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
              <div
                style="position: absolute; left: 448px; top: 144px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i9281!3i13085!4i256!2m3!1e0!2sm!3i378064488!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=67384"
                  draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
            <div
              style="position: absolute; left: 448px; top: -112px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i9281!3i13084!4i256!2m3!1e0!2sm!3i378064488!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=31363"
                draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
          <div
            style="position: absolute; left: 192px; top: -112px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i9280!3i13084!4i256!2m3!1e0!2sm!3i378064488!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=71084"
              draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
        <div
          style="position: absolute; left: 1216px; top: -112px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i9284!3i13084!4i256!2m3!1e0!2sm!3i378061440!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=57546"
            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
      <div
        style="position: absolute; left: 1216px; top: 144px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i9284!3i13085!4i256!2m3!1e0!2sm!3i378061440!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=93567"
          draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
    <div
      style="position: absolute; left: -64px; top: 144px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i9279!3i13085!4i256!2m3!1e0!2sm!3i378063960!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=16625"
        draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
</div>
</div>
</div>
<div style="position: absolute; left: 0px; top: 0px; z-index: 2; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"></div>
<div style="position: absolute; left: 0px; top: 0px; z-index: 3; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;">
  <div style="position: absolute; left: 0px; top: 0px; z-index: 1; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"></div>
</div>
<div style="position: absolute; left: 0px; top: 0px; z-index: 4; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
  <div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div>
  <div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div>
  <div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div>
  <div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div>
</div>
<iframe frameborder="0" style="z-index: -1; border: 0px none; position: absolute; height: 100%; width: 100%; padding: 0px; margin: 0px; left: 0px; top: 0px;"></iframe>
</div>
<div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
  <a target="_blank" href="https://maps.google.com/maps?ll=34.043333,-78.028333&amp;z=15&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3"
    title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;">
    <div style="width: 66px; height: 26px; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div>
  </a>
</div>
<div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 475px; top: 60px;">
  <div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div>
  <div style="font-size: 13px;">Map data ©2017 Google</div>
  <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
</div>
<div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 260px; bottom: 0px; width: 121px;">
  <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;">
    <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
      <div style="width: 1px;"></div>
      <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
    </div>
    <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span>Map data ©2017 Google</span></div>
  </div>
</div>
<div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;">
  <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2017 Google</div>
</div>
<div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 95px; bottom: 0px;">
  <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
    <div style="width: 1px;"></div>
    <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
  </div>
  <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div>
</div>
<div style="cursor: pointer; width: 25px; height: 25px; overflow: hidden; display: none; margin: 10px 14px; position: absolute; top: 0px; right: 0px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div>
<div
  draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;">
  <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
    <div style="width: 1px;"></div>
    <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
  </div>
  <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@34.043333,-78.028333,15z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3"
      style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div>
  </div>
  <div class="gmnoprint gm-bundled-control" draggable="false" controlwidth="28" controlheight="55" style="margin: 10px; user-select: none; position: absolute; left: 0px; top: 0px;">
    <div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 0px;">
      <div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;">
        <div title="Zoom in" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;">
          <div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div>
        </div>
        <div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"></div>
        <div title="Zoom out" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;">
          <div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="28" controlheight="28"
    style="margin: 10px; user-select: none; position: absolute; bottom: 42px; right: 28px;">
    <div class="gm-svpc" controlwidth="28" controlheight="28" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default; position: absolute; left: 0px; top: 0px;">
      <div style="position: absolute; left: 1px; top: 1px;"></div>
      <div style="position: absolute; left: 1px; top: 1px;">
        <div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
        <div
          aria-label="Pegman is on top of the Map" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
      <div
        aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
  </div>
  </div>
  <div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;">
    <div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; cursor: pointer; background-color: rgb(255, 255, 255); display: none;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
    <div
      class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
  </div>
  </div>
  <div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; left: 48px; top: 0px;">
    <div class="gm-style-mtc" style="float: left;">
      <div draggable="false" title="Show street map" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 21px; font-weight: 500;">Map</div>
      <div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; left: 0px; top: 29px; text-align: left; display: none;">
        <div draggable="false" title="Show street map with terrain" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"><img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span>
          <label
            style="vertical-align: middle; cursor: pointer;">Terrain</label>
        </div>
      </div>
    </div>
    <div class="gm-style-mtc" style="float: left;">
      <div draggable="false" title="Show satellite imagery" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-left: 0px; min-width: 37px;">Satellite</div>
      <div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; right: 0px; top: 29px; text-align: left; display: none;">
        <div draggable="false" title="Show imagery with street names" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span>
          <label
            style="vertical-align: middle; cursor: pointer;">Labels</label>
        </div>
      </div>
    </div>
  </div>
  <div draggable="false" class="gm-style-cc" style="position: absolute; user-select: none; height: 14px; line-height: 14px; right: 166px; bottom: 0px;">
    <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
      <div style="width: 1px;"></div>
      <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
    </div>
    <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><span>200 m&nbsp;</span>
      <div style="position: relative; display: inline-block; height: 8px; bottom: -1px; width: 51px;">
        <div style="width: 100%; height: 4px; position: absolute; left: 0px; top: 0px;"></div>
        <div style="width: 4px; height: 8px; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"></div>
        <div style="width: 4px; height: 8px; position: absolute; background-color: rgb(255, 255, 255); left: 0px; bottom: 0px;"></div>
        <div style="position: absolute; background-color: rgb(102, 102, 102); height: 2px; left: 1px; bottom: 1px; right: 1px;"></div>
        <div style="position: absolute; width: 2px; height: 6px; left: 1px; top: 1px; background-color: rgb(102, 102, 102);"></div>
        <div style="width: 2px; height: 6px; position: absolute; background-color: rgb(102, 102, 102); bottom: 1px; right: 1px;"></div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  </div>
  </div>
  </div>
  <!-- END carousel-->
  <!-- /.row 
<!--<div class="outer-container" style="background-color: white;height: 350px;">
  <div class="innner-container" style="background-image:url(asset_files/images/users/7.jpg);background-repeat: no-repeat;background-size
  :cover;;height: 300px;background-position: 50% 50%;">
    <div class="col-md-12 rating-container" style="position: absolute; padding: 0% 13% 0% 13%; top: 31%;">
      <div class="col-md-3 outer-image">
        <img class="media-object thumb-sm img-circle" style="width: 150px;height: 150px;border: 5px solid white;" src="asset_files/images/users/7.jpg"
          alt="">
     
        </div>
    </div>
  </div>

</div>-->